.footer {
    background: linear-gradient(98.3deg, #5C7AE8 0%, #75D6A1 100%);
    width: 1440px;
    height: 550px;
}
.main__footer-logo {
    width: 197px;
    height: 55px;
    margin-left: 140px;
    margin-top: 50px;
}
.footer__img {
    margin-top: 38px;
}
.main__footer {
    display: flex;
    justify-content: space-between;
}
.footer__main-title{
    font-family: Montserrat;
    font-size: 19px;
    font-weight: 500;
    line-height: 23.16px;
    color: rgba(255, 255, 255, 1);
}
.footer-title {
    font-family: Montserrat;
    font-size: 19px;
    font-weight: 400;
    line-height: 23.16px;
    color: rgba(230, 230, 230, 1);
}
.main__footer-company {
    margin-left: 140px;
    margin-top: 34px;
    width: 215px;
    height: 165px;
}
.main__footer-contact {
    width: 204px;
    height: 160px;
    margin-left: 70px;
    margin-top: 34px;
    align-items: center;

    .footer__main-title{
        a {
            text-decoration: none;
            font-family: Montserrat;
            font-size: 19px;
            font-weight: 500;
            line-height: 23.16px;
            text-align: left;
            color: rgba(255, 255, 255, 1);
        }
    }

    .footer__mail {
        a{
            font-family: Montserrat;
            font-size: 19px;
            font-weight: 500;
            line-height: 23.16px;
            color: rgba(255, 255, 255, 1);
        }
    }
}
.main__footer-work {
    width: 181px;
    height: 137px;
    margin-left: 70px;
    margin-top: 34px;
}
.main__footer-address {
    width: 345px;
    height: 140px;
    margin-left: 70px;
    margin-top: 34px;
    margin-right: 63px;
}
.footer__info {
    margin-top: 165px;
    text-align: center; 
    font-family: Montserrat;
    font-size: 19px;
    font-weight: 500;
    line-height: 23.16px;
    color: rgba(255, 255, 255, 1);
}
@media only screen and ( width: 600px) {
    .container {
        width: 100%;
        max-width: 600px;
        margin: 0px auto;
    }
    .footer {
        width: 600px;
    }
    .main__footer-logo {
        margin: 30px;
    }
    .footer__img{
        margin-left: 150px;
        width: 120px;
        height: 35px;
    }
    .main__footer{
        flex-wrap: wrap;
        width: 600px;
    }
    .footer__main-title {
        font-size: 1rem;
    }
    .footer-title {
        font-size: 1rem;
    }
    .main__footer-company {
        margin: 20px;
        width: 260px;
    }
    .main__footer-contact {
        margin: 20px;
        width: 260px;
    }
    .footer__main-title{
        a{
            font-size: 1rem;
        }
    }
    .footer__mail{
        a{
            font-size: 1rem;
        }
    }
    .main__footer-work {
        width: 260px;
        margin: 20px;
    }
    .main__footer-address {
        width: 260px;
        margin: 20px;
    }
    .footer-work {
        margin-top: 30px;
    }
    .footer-address{
        margin-top: 30px;
    }
    .footer__info {
        width: 600px;
        margin-top: 50px;
        font-size: 1rem;

    }
}
    